# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
out/
build/

# OS junk files
.DS_Store
Thumbs.db

# Any executables you don’t want in Git
*.exe
*.asar
